include LICENSE
include README.md
include pyproject.toml
include environment.yml
include scripts/setup_env.sh
recursive-include tests *.py
recursive-include src/cooper_beta/conf *.yaml
global-exclude __pycache__ *.py[cod] .DS_Store
